@charset 'UTF-8';
@import 'CSSReset.css';

/*Background for entire site*/
body {
	background-color: rgb(66, 52, 89);
}

/*----------------------------------------------------------
Major divs
----------------------------------------------------------*/
/*Center of website*/
.center {
	position: absolute;
	top: 10px;
	left: 30px;
	bottom: 10px;

	width: 1150px;
	height: 810px;
	background-color: rgb(103, 110, 140);
	border-radius: 8px;

	padding-left: 40px;
	padding-top: 10px;

}

/*Left side bar and buttons*/
.left {
	position: absolute;
	top: 120px;
	left: 10px;

	width: 250px;
	height: 688px;
	background-color: rgb(241, 239, 223);
}

.right {
	position: absolute;
	top: 120px;
	right: 17px;

	width: 900px;
	height: 688px;
	background-color: rgb(241, 239, 223);
}

/*----------------------------------------------------------
Header
----------------------------------------------------------*/
 /*Logo positioning and basic modifications*/
.toplogo {
 	position: absolute;
 	left: 10px;
 	height: 100px;
 	width: 1162px;

    background-color: rgb(241, 239, 223); 

    clear: both;
} 

/*Logo specific modifications*/
.toplogo > img {
	position: absolute;
	margin-left: 10px;
	margin-top: 6px;
	border: 3px solid rgb(158, 192, 171);
	border-radius: 5px;
}

/*Header info*/
.tophead {
    position: absolute;
    top: 20px;
    left: 140px;
    height: 100px;
    margin-top: 15px;
}

.tophead > h1 {
	font-family: Georgia, serif;
	font-size: 2em;
	color: rgb(66, 52, 89);
}

.tophead > p {
	color: rgb(66, 52, 89);	
}

#logoColor {
	color: rgb(158, 192, 171);
}

/*----------------------------------------------------------
Buttons
----------------------------------------------------------*/
/* making buttons */
.button {
	height: 30px;
	width: 200px;
	color: rgb(66, 52, 89);
	
	background-color: rgb(158, 192, 171);
	border: 5px solid rgb(66, 52, 89);
	border-radius: 5px;
	padding-top: 15px;
	text-align: center;

	display: inline-block;
	margin-bottom: 5px;
	margin-left: 10px;
}

/*text-decoration was being fiddly*/
.button > a {
	text-decoration: none;
	color: rgb(66, 52, 89);
}

/*inverted color for button*/
#inv_button {
	background-color: rgb(66, 52, 89);
	border-color: rgb(158, 192, 171);
	color: rgb(158, 192, 171);
}

#inv_button > a {
	color: rgb(158, 192, 171);gb(66, 52, 89);
}

/* hover over button */
.button:hover {
	text-decoration: underline;
	font-weight: bold;
}

/*grid for index*/
.grid {
	width: 100px;
	height: 150px;
	background-color:#EFEFEF;
}

.Bicon {
	width: 25px;
	height: 25px;
	background-color:#EFEFEF;
}

/*----------------------------------------------------------
Form positioning
----------------------------------------------------------*/
.box_title {
	width: 15%;
	float: left;
    text-align: right;

    padding-bottom: 10px;
}

.box_field {
	width: 80%;
	margin-left: 10px;
    float:left;

    padding-bottom: 10px;
}

/*----------------------------------------------------------
Display info centre box
----------------------------------------------------------*/
/*Box inside .right for containing movie details*/
.display_box {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	width: 90%;
	height: 70%;

	background-color: rgb(241, 239, 223);
	border: 5px solid rgb(158, 192, 171);
	border-radius: 5px;

	box-shadow: 0px 0px 30px 0px;
}

/*Seperate div for deatils*/
.movie_details {
	position: absolute;
	margin-top: 40px;
	margin-left: 350px;
}

#synopsis {
	word-wrap: normal;
	width: 400px;
}

/*Movie cover art*/
.display_box > img {
	position: absolute;
	padding-top: 30px;
	padding-left: 20px;

	width: 30%;
	height: 60%;
}

/*Small Box for login and single text fields*/
#pretty_box {
	margin-top: 30px;
	width: 50%;
	height: 10%;

	background-color: ;
	border: 5px solid rgb(158, 192, 171);
	border-radius: 5px;
}

/*----------------------------------------------------------
Checklist
----------------------------------------------------------*/
.checklist {
	border: 5px solid rgb(158, 192, 171);
	margin-bottom: 40px;
}

li > label {
	margin-left: 38px;
	padding-bottom: 10px;
}