@charset 'UTF-8';
@import 'CSSReset.css';

/*Background for entire site*/
body {
	background-color: rgb(66, 52, 89);
}

/*Center of website*/
.center {
	position: absolute;
	top: 10px;
	left: 30px;

	width: 1150px;
	height: 770px;
	background-color: rgb(103, 110, 140);
	border-radius: 8px;
}


/*Logo positioning and basic modifications*/
.toplogo {
    position:absolute;
    left: 25px;
    height: 100px;
    width: 1015px;

    background-color: rgb(241, 239, 223); 
}

/*Logo specific modifications*/
.toplogo > img {
	border: 4px solid rgb(158, 192, 171);
	border-radius: 5px;
}

/*Header info*/
.tophead {
    position:absolute;
    left:100px; right:0;
    height: 100px;
}

.tophead > h1 {
	font-family: Georga, serif;
	font-size: 2em;
	color: rgb(66, 52, 89);
}

.tophead > p {
	color: rgb(66, 52, 89);	
}

#logoColor {
	color: rgb(158, 192, 171);
}

/*Left side bar and buttons*/
.left {
	position: absolute;
	width: 250px;
	height: 688px;
	background-color: rgb(241, 239, 223);
	margin-left: 10px;
}


/* making buttons */
.button {
	height: 30px;
	width: 200px;
	text-decoration: none;
	color: rgb(66, 52, 89);
	
	background-color: rgb(158, 192, 171);
	border: 5px solid rgb(66, 52, 89);
	border-radius: 5px;
	padding-top: 15px;
	text-align: center;

	display: inline-block;
	margin-bottom: 5px;
	margin-left: 10px;
}

#inv_button {
	background-color: rgb(66, 52, 89);
	border-color: rgb(158, 192, 171);
	color: rgb(158, 192, 171);
}

/* hover over button */
.button:hover {
	text-decoration: underline;
	font-weight: bold;
}