@charset 'UTF-8';
@import 'CSSReset.css';

body {
	background-color: rgb(66, 52, 89);
}

.left {
	width: 250px;
	height: 1500px;
	background-color: rgb(241, 239, 223);
}

/*making buttons*/
.button {
	height: 30px;
	width: 200px;
	text-decoration: none;
	margin: auto;
	
	background-color: rgb(158, 192, 171);
	border: 5px solid rgb(66, 52, 89);
	border-radius: 5px;
	padding-top: 15px;
	text-align: center;

	display: inline-block;
	margin-bottom: 5px;
	margin-left: 10px;
}

#inv_button {
	background-color: rgb(66, 52, 89);
	border-color: rgb(158, 192, 171);
	font-color: ;
}